<% if user_signed_in? %>
  <div class="dashboard-container <%= current_user.role == 'seller' ? (@your_products.empty? ? 'default-margin' : 'seller-margin') : (@products.empty? ? 'default-margin' : 'buyer-margin') %>">
    <h1>Welcome to Your Dashboard</h1>

    <%= render partial: 'user_profile_card', locals: { user: current_user, logged_in: true } %>

    <!-- Search Field -->
    <%= render partial: '/search_container', locals: { q: @q } %>

    <% if current_user.role == 'seller' %>
      <div class="create-product-section mb-8">
        <%= link_to 'Create Product', new_product_path, class: 'create-product-btn' %>
      </div>

      <ul class="nav nav-tabs" id="productTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="your-products-tab" data-toggle="tab" href="#your-products" role="tab" aria-controls="your-products" aria-selected="true">Your Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="all-products-tab" data-toggle="tab" href="#all-products" role="tab" aria-controls="all-products" aria-selected="false">All Products</a>
        </li>
      </ul>
      <div class="tab-content" id="productTabsContent">
        <div class="tab-pane fade show active" id="your-products" role="tabpanel" aria-labelledby="your-products-tab">
          <%= render partial: 'products_container', locals: {
            products: @your_products,
            title: "Your Products",
            show_actions: true,
            show_images: true,
            empty_message: "You currently have no products. Click \"Create Product\" to add your first product.",
            pagination_param: 'your_products_page'
          } %>
        </div>
        <div class="tab-pane fade" id="all-products" role="tabpanel" aria-labelledby="all-products-tab">
          <%= render partial: 'products_container', locals: {
            products: @all_products,
            title: "All Products",
            show_actions: false,
            show_images: true,
            empty_message: "No other products are available right now.",
            pagination_param: 'all_products_page'
          } %>
        </div>
      </div>
    <% elsif current_user.role == 'buyer' %>
      <%= render partial: 'products_container', locals: {
        products: @products,
        title: "All Products",
        show_actions: false,
        show_images: true,
        empty_message: "No products are available right now.",
        pagination_param: nil
      } %>
    <% end %>
  </div>
<% else %>
  <div class="dashboard-container default-margin">
    <h1>Welcome to Your Dashboard</h1>
    
    <%= render partial: 'user_profile_card', locals: { logged_in: false } %>

    <!-- Search Field -->
    <%= render partial: '/search_container', locals: { q: @q } %>

    <%= render partial: 'products_container', locals: {
      products: @products,
      title: "All Products",
      show_actions: false,
      show_images: true,
      empty_message: "No products are available right now.",
      pagination_param: nil
    } %>
  </div>
<% end %>