<% if user_signed_in? %>
<div class="dashboard-container">

    <h1>Welcome to Your Dashboard</h1>

    <%= render 'header' %>


    <% if current_user.role == 'seller' %>
      <div class="create-product-section mb-8">
        <%= link_to 'Create Product', new_product_path, class: 'custom-save-btn' %>
      </div>

      <ul class="nav nav-tabs" id="productTabs" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="all-products-tab" data-toggle="tab" href="#all-products" role="tab" aria-controls="all-products" aria-selected="false">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="your-products-tab" data-toggle="tab" href="#your-products" role="tab" aria-controls="your-products" aria-selected="true">Your Products</a>
        </li>
        
      </ul>
      <div class="tab-content" id="productTabsContent">
      
        <div class="tab-pane fade show active" id="all-products" role="tabpanel" aria-labelledby="all-products-tab">
          <%= render 'products_container',
            header_text: 'All Products',
            products: @all_products,
            show_actions: false,
            show_images: true,
            empty_message: "No other products are available right now.",
            param_name: 'all_products_page' %>
        </div>
          <div class="tab-pane fade " id="your-products" role="tabpanel" aria-labelledby="your-products-tab">
          <%= render 'products_container',
            header_text: 'Your Products',
            products: @your_products,
            show_actions: true,
            show_images: true,
            empty_message: "You currently have no products. Click \"Create Product\" to add your first product.",
            param_name: 'your_products_page' %>
        </div>
      </div>
    <% elsif current_user.role == 'buyer' %>
      <%= render 'products_container',
        header_text: 'All Products',
        products: @products,
        show_actions: false,
        show_images: true,
        empty_message: "No products are available right now.",
        param_name: 'page' %>
    <% end %>
  </div>
<% else %>
  <div class="dashboard-container ">
    <h1>Welcome to Your Dashboard</h1>
    <%= render 'header' %>

    

    <%= render 'products_container',
      header_text: 'All Products',
      products: @products,
      show_actions: false,
      show_images: true,
      empty_message: "No products are available right now.",
      param_name: 'page' %>
  </div>
<% end %>
