<%= form_with(model: [product, review], remote: true) do |form| %>
    <% if review.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h4>
        <ul>
          <% review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
    
      <%= form.text_area :text, class: 'form-control', rows: 5 %>
    </div>
  
    <div class="mt-3">
      <%= form.submit (review.new_record? ? 'Submit Review' : 'Update Review'), class: 'custom-save-btn' %>
    </div>
  <% end %>
  